body {
  font-family: Roboto !important;
  /*background-image: url('../bg.jpeg');*/
}
main {
  max-width: 985px !important;
}
/*::-webkit-input-placeholder {
  color: salmon;
  text-align: center;
}
::-moz-placeholder {
  color: salmon;
  text-align: center;
}
:-ms-input-placeholder {
  color: salmon;
  text-align: center;
}
:-moz-placeholder {
  color: salmon;
  text-align: center;
}*/
a {
  color: salmon !important
  text-align: center;
}
#enabledInput {
float: left;
width: 70%;
text-align: center;
}
#enabledInput:focus {
  outline: none
}
#shorten-button {
  width: 30%;
  color: salmon
}

#cred {
  margin: 1%;
  font-size: 1.4em
}
#cred a:visited {
  color: salmon
}
#temprow {
  display: none
}
.center {
  /*width: 100;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 8px;
}
.popover-content {
  font-size: 1.2em
}
.no-radius {
  border-radius: 0 !important;
}
.black-border {
  border: 3px solid black;
}
.black-bg {
  background-color: black !important;
  border: 1px solid black !important
}
.shorten {
  margin-left: 2px !important
}
main p {
  margin-bottom: 0;
  margin-left:2px
}
h1 {
  margin-left: -3px !important;
  text-align: center;
}
th {
  font-weight: bolder;
  font-size: 1.3em;
}
td {
  font-family: Garamond;
  font-size: 1.2em
}
.click_count-align-center {
  text-align: center !important;
  padding-right: 70px !important
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border-top: none !important;
  border-bottom: 1px solid gainsboro
}
@media (max-width: 420px) {
  #enabledInput, #shorten-button {
    float: none;
    width: 96%
  }
}
@media (max-width: 705px) {
  .click_count-align-center {
    padding-right: 0 !important;
  }
  th {
    text-align: center !important
  }
}
@media (max-width: 560px) {
  .click_count-align-center {
    padding-right: 0 !important;
    display: none;
  }
  th {
    text-align: center !important
  }
}
@media (max-width: 380px) {
  .click_count-align-center {
    padding-right: 0 !important;
    display: none;
  }
  #created_at, .time {
    display: none
  }
  th {
    text-align: center !important
  }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #enabledInput {
      float: none;
      width: 99.2%;
      height: 325px;
      font-size: 5.5em;
      text-align: center;
    }
    #shorten-button {
      width: 99.2%;
      height: 200px;
      font-size: 7em;
      border-bottom-left-radius: 10px !important;
      border-bottom-right-radius: 10px !important
    }
    main h1 {
      font-size: 5.5em;
      text-align: center
    }
    main p {
      display: none
    }
    th {
      font-size: 1.2em;
      text-align: center
    }
    .table {
      font-size: 1.6em !important;
    }
}
