<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>url.s</title>
    </head>
    <body>
      <div id="cred">
        <!-- <p>created by <a href="http://inniss.co" target="_blank">bradley inniss</a></p> -->
      </div>
          <main class="center">
            <h1>url shortener</h1>
            <p>url to shorten:</p>
            <form id="url" class="form-inline" action="/urls" method="post">
              <div class="row shorten">
                <input class="input-lg no-radius black-border" id="enabledInput" autocomplete="off" type="text" name="long_url" placeholder="http://example.com" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Please enter a valid URL">
                <input id="timeZone" type="hidden" value="" name="timeZone"/>
                <script>(function(){
                  var d = new Date();
                  var n = d.getTimezoneOffset();
                  document.getElementById('timeZone').value = "" + n;
                })();</script>
                <button id="shorten-button" class="btn btn-primary btn-lg no-radius black-bg" type="submit">shorten</button>
              </div>
            </form>
            <div id="link"></div>
            <script>(function(){
              var elements = document.getElementsByClassName('time');
              var d = new Date();
              var n = d.getTimezoneOffset();
              // debugger;
              for(var i = 0; i < elements.length ; i++){
                var time = elements[i].textContent;

                var date = new Date(time);
                elements[i].textContent  = date.toString()
              }

            })();</script>
          </main>
    </body>
</html>
