<% site = Nokogiri::HTML(open("" + Url.last.long_url + "", :allow_redirections => :all)) %>
<h2 id="title"><%= site.css('title').text %></h2>
<h2 id="site"><%= Url.last.long_url %></h2>
<h2 id="outlink"><a href="/<%= Url.last.short_url %>" target="_blank">http://bi-urls.herokuapp.com/<%= Url.last.short_url %></a></h2>
